<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cross.DataVault.Data.Server.Properties.Settings.MiniVaultConnectionString"
            connectionString="Data Source=DESKTOP-5QTOE01\SQLExpress;Initial Catalog=MiniVault;User ID=sa;Password=!mrdan2437!*;"
            providerName="System.Data.SqlClient" />
        <add name="Cross.DataVault.Data.Server.Properties.Settings.MiniVaultConnectionString1"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=MiniVault;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Cross.DataVault.Data.Server.Properties.Settings.MiniVaultConnectionString2"
            connectionString="Data Source=adslog574q.database.windows.net,1433;Initial Catalog=MiniVault;Persist Security Info=True;User ID=DanGerchcovich;Password=&amp;*Tokamak234!&amp;*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>