<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataVaultService" />
                <binding name="BasicHttpBinding_IAccountManagement" />
                <binding name="BasicHttpBinding_IAccountManagement1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/DataVaultService/DataVaultService_WCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataVaultService"
                contract="DataVaultCloudService.IDataVaultService" name="BasicHttpBinding_IDataVaultService" />
            <endpoint address="http://localhost/DataVaultService.AccountManagement/AccountManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountManagement"
                contract="AccountsCloudService.IAccountManagement" name="BasicHttpBinding_IAccountManagement" />
            <endpoint address="http://localhost/DataVaultService.AccountManagement/AccountManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountManagement1"
                contract="AccountManagerService.IAccountManagement" name="BasicHttpBinding_IAccountManagement1" />
        </client>
    </system.serviceModel>
</configuration>